nav a {
    text-decoration: none;
    transition: 0.5s;
    color: orange;
}
nav a:hover{
    color: brown;
    background-color: antiquewhite;
    font-weight: bold;
    font-style: italic;
}
footer{
    padding: 10px;
    background-color: darkblue !important;
    text-align: center !important;
    color: red;
}
body{
    background-color: gray;
    color: white;
}
div{
    background-color: gray;
}